{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <script src="{% static 'js/navbar.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class="all-home">
    <nav>  
        <div class="nav-bar">
            <div class="sys-logo">
                <a href="/">  <img src="{%static 'images/homeLogo.png'%}" height="70px" width="120px"></a>
                
            </div>
            
            <div id="menu-bar">
                <i class="ri-menu-2-fill"></i>
            </div>

            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Search">
            </div>

            <div class="profile-menu">
                <i class="ri-logout-box-line"></i>
            </div>
        </div>

        <div id="content-side-bar">
            <div id="bar-1">
                <a href="{% url 'index' %}" class="custom-button btn-primary">
                    Admin Dashboard
                </a>
            </div>
        
            <div id="bar-2">
                <a href="{% url 'new_car_registration' %}" class="custom-button btn-primary">
                    New Car Registration
                </a>
            </div>
        
            <div id="bar-3">
                <a href="/" class="custom-button btn-primary">
                    Falano Admin
                </a>
            </div>
        
            <div id="bar-4">
                <a href="{% url 'manage_user' %}" class="custom-button btn-primary">
                    Manage Users
                </a>
            </div>
        </div>
        
    </nav>
    </div>
</body>
</html>

{% block content %}

{% endblock%}