{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Welcome to the Home Page</title>
</head>
<body>
    <div id="dashboard-content">
        <h1> Admin Dashbaord: {{request.user.username}}</h1>
         
    </div>

    
    {% comment %} <script src="{% static 'js/navbar.js' %}"></script> {% endcomment %}
</body>
</html>


{% endblock%} 

