{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/manage_user.css' %}">
    <title>Welcome to the manage user Page</title>
</head>
<body>

    <div id="manage_user_content">
        <div id="manage_user_content_1">
            <h1> Manage User Page</h1>
        </div>


    </div>
   
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>
    {% endblock %}