{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/car_reg.css' %}">
    <title>Submission Success</title>
</head>
<body>
    <div id="thank_you_content">
        <div id="thank_you_title">
            <h3> Sucessfully Registred a Car!</h3>
        </div>
        <p> <a href="{% url 'new_car_registration' %}">Register Another</a></p>
    </div>
</body>
</html>

{% endblock %}